@import "../../../../assets/theme/_var.scss";

.label {
  font-size: 1.4rem;
  font-weight: 500;
  color: $white;
  margin-bottom: 0.5rem;
  display: block;

  @media (max-width: 991px) {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
