@import "../../../assets/theme/_var.scss";

.pagination {
  margin-top: 4rem;

  @media (max-width: 575px) {
    margin-top: 3rem;
  }
  :global {
    ul {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:575px) {
          margin-right: 0.2rem;
        }

        &:last-child {
          margin-right: 0px;
        }

        a {
          color: rgba($white, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 600;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 0.8rem;
          svg {
            max-width: 0.8rem;

            // path {
            //   fill: rgba($white, 0.5);
            // }
          }
          @media (max-width:575px) {
            width: 2.4rem;
            height: 2.4rem;
            font-size: 1.1rem;
            border-radius: 0.4rem;
          }
        }

        &.active {
          a {
            background: $primary;
            color: $textClr;
          }
        }

        // &.extreme_last,
        // &.very_first {
        //   a {
        //     font-size: 2.4rem;
        //   }
        // }
        &.disabled {
          a {
            opacity: 0.6;
            pointer-events: none;
          }
        }
        &:first-child {
          a{
            font-size: 1.6rem;
          }
        }
        &:nth-child(2) {
          background-color: transparent;
        }
        &:nth-last-child(2){
          background-color: transparent;
        }
        &:last-child {
          a{
            font-size: 1.6rem !important;
          }
        }
      }
    }
  }

}
