@import "../../../assets/theme/_var.scss";

.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        max-width: 15rem;
    }
}