@import "../../../../assets/theme/_var.scss";

.stake_card {
  margin-top: 2.4rem;
  .skymarvel_card {
    border-radius: 1.2rem;
    border-top: 0.1rem solid rgba($primary, 0.5);
  background: linear-gradient(
    180deg,
    rgba(19, 66, 157, 0.2) 0%,
    rgba(45, 81, 203, 0.2) 105.86%
  );
    display: flex;
    align-items: center;
    @media (max-width: 575px) {
      display: block;
    }
  }

  .card_information {
    margin-top: 2.4rem;
    :global {
      .row {
        margin-left: -1.2rem;
        margin-right: -1.2rem;
        > div {
          margin-bottom: 2.4rem;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          @media (max-width:1599px) {
            
          }
        }
      }
    }
  }
}
